<!DOCTYPE html>
<html lang="ru" translate="no" class="adaptive">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="referrer" content="no-referrer-when-downgrade">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ url_for('media', filename='favicon.ico') }}">
    <link href="{{ url_for('static', filename='css/catalog/main-v3.min.716ab6e5b2568b3a.css') }}" rel="stylesheet"
        type="text/css">
    <link href="{{ url_for('static', filename='css/catalog/common.min.121bb7180e1b90be.css') }}" rel="stylesheet"
        type="text/css">
    <link href="{{ url_for('static', filename='css/catalog/main-page-v3.min.7309e6f7f633c75b.css') }}" rel="stylesheet"
        type="text/css">
    {% block css %}
    {% endblock %}

    {% block title %}<title>Каталог</title>{% endblock %}
</head>

<body>
    <div class="wrapper">
        <header class="header j-header header--custom-bg">
            <div class="header__container">
                <div class="header__bottom">
                    <div class="header__nav-element nav-element">
                        <a class="nav-element__logo j-wba-header-item" data-wba-header-name="Main" href="/forum"
                            style="width: 45px;height: 50px;">
                            <img src="{{ url_for('media', filename='logo.png') }}">
                        </a>
                    </div>
                    <div id="searchBlock" class="header__search-catalog search-catalog j-search-catalog" data-link="
         {on &#39;click&#39; &#39;.j-suggest&#39; followSuggest}
         {on &#39;click&#39; &#39;.j-suggest-tag&#39; fillWithTag}
         {on &#39;click&#39; &#39;.j-clear-history-all&#39; clearAllSearchHistories}
         {on &#39;click&#39; &#39;.j-clear-history&#39; clearSearchHistory}
         {on &#39;mouseover&#39; &#39;.j-suggest&#39; markSuggest}
         {on &#39;mouseover&#39; &#39;.j-unmark-suggests&#39; unmarkSuggests}
         {on &#39;mouseleave&#39; &#39;.j-search-catalog-autocomplete&#39; unmarkSuggests}
         class{merge: imageChipData toggle=&#39;search-catalog--photo&#39;}"
                        data-jsv="#82^/82^#83^/83^#84^/84^#85^/85^#86^/86^#87^/87^#88^/88^">
                        <div class="search-catalog__block"
                            data-link="class{merge: hasAnySuggestions() toggle=&#39;search-catalog--active&#39;}">
                            <input autocomplete="off" id="searchInput" class="search-catalog__input j-wba-header-item"
                                data-wba-header-name="Search_text" type="search" maxlength="300"
                                placeholder="Найти статью"
                                data-link="{:searchText:}readonly{:imageChipData}{on &#39;keydown&#39; onSearchInputKeypress}{on &#39;focus&#39; enableSuggestions}{on &#39;input&#39; showSuggestionsDebounced}"
                                data-jsv="#69^/69^#70^/70^#71^/71^">
                        </div>
                    </div>
                </div>

            </div>
        </header>
        {% block body %}
        <main class="main left-bg" role="main" id="body-layout">
            <div id="mainContainer" class="main__container">
                <div id="app">
                    <div data-link="visible{:containerId == ~router.activeContainer &amp;&amp; !~router.showPreview}"
                        style="display: block;">
                        <div class="main-page">
                            <div class="main-page__content-wrapper">
                                <div class="main-page__content" data-link="
            
                {on &#39;click&#39; &#39;.j-product-item, .j-add-to-basket, .j-add-to-postpone&#39; !!homeCardsManager &amp;&amp; homeCardsManager.clickCardAnalitics}
            
            
                {on &#39;mouseenter&#39; &#39;.j-product-item&#39; !!homeCardsManager &amp;&amp; homeCardsManager.cardHoverHandler}
                {on &#39;mouseleave&#39; &#39;.j-product-item&#39; !!homeCardsManager &amp;&amp; homeCardsManager.cardUnhoverHandler}
                
            
                {on &#39;touchstart&#39; &#39;.j-thumbnail-wrap&#39; !!homeCardsManager &amp;&amp; homeCardsManager.startImageSlide}
                {on &#39;touchmove&#39; &#39;.j-thumbnail-wrap&#39; !!homeCardsManager &amp;&amp; homeCardsManager.proceedImageSlide}
                {on &#39;touchend&#39; &#39;.j-thumbnail-wrap&#39; !!homeCardsManager &amp;&amp; homeCardsManager.stopImageSlide}
                {on &#39;mousedown&#39; &#39;.j-thumbnail-wrap&#39; !!homeCardsManager &amp;&amp; homeCardsManager.startImageSlide}
                {on &#39;click&#39; &#39;.j-thumbnail-wrap&#39; !!homeCardsManager &amp;&amp; homeCardsManager.checkSliding}
            
            
                {on &#39;click&#39; &#39;.j-star&#39; !!homeCardsManager &amp;&amp; homeCardsManager.moveToComments}
                {on &#39;click&#39; &#39;.j-stars&#39; !!homeCardsManager &amp;&amp; homeCardsManager.moveToComments}
            
            
                {on &#39;click&#39; &#39;.j-open-product-popup&#39; !!homeCardsManager &amp;&amp; homeCardsManager.showProductCardPopup}
                {on &#39;click&#39; &#39;.j-open-full-product-card&#39; !!beforeRouterTransition &amp;&amp; beforeRouterTransition}
            
            
                {on &#39;click&#39; &#39;.j-add-to-basket&#39; !!homeCardsManager &amp;&amp; homeCardsManager.addToBasket}
            
            
                {on &#39;click&#39; &#39;.j-add-to-postpone&#39; !!homeCardsManager &amp;&amp; homeCardsManager.addToPoned}
            
            
                {on &#39;elementInViewportEvent&#39; &#39;.j-product-item&#39; !!homeCardsManager &amp;&amp; homeCardsManager.sendListingItemAnalytics}
            
        " data-jsv="#148^/148^#149^/149^#150^/150^#151^/151^#152^/152^#153^/153^#154^/154^#155^/155^#156^/156^#157^/157^#158^/158^#159^/159^#160^/160^#161^/161^#162^/162^">
                                    <script src="{{ url_for('static', filename='js/infinity_scroll.js') }}"></script>
                                    {% endblock %}
</body>

</html>